nav#navbar
  .container
    #logo
      a.navbar-brand(href=""+ directory+ "")
        img(src=""+ directory+ "assets/images/logo.png", alt="logo")
    #menu
        ul#menu-items
          li
            a(href=""+ directory+ "#sobre-nos") sobre
          li
            a(href=""+ directory+ "#servicos") o que fazemos
