include ../atoms/cta

section#sobre-nos
  h2 sobre nós
  .lead Somos uma empresa movida pela paixão de ver e ouvir com os sentidos, com a mente, com o coração, e com a alma das pessoas, dos colaboradores e da empresa.
  +cta('conheça os nossos serviços', '#servicos') 