meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width")
meta(name="description", content="")
meta(name="keywords", content="")
meta(name="author", content="acs")


if title
  title #{title} - template website
else 
  title template website

//  Bootstrap core CSS
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
//  Custom styles
link(href=""+ directory+ "assets/css/mystyles.css?v=18357643", rel="stylesheet")
